<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.css" rel="stylesheet" />
		<script src="../../../js/mui.js"></script>

		<script src="../../../lib/vue.min.js"></script>
		<link href="../../../css/reset.css" rel="stylesheet" />

		<script src="../../../lib/data/OSM_shui_URLs.js"></script>
		<script src="../../../lib/data/OSM_shui_Datas.js"></script>
		<script src="../../../lib/data/Internet.js"></script>
		<script src="../../../lib/data/StorageTool.js"></script>
		<script src="../../../lib/data/webSQLTool.js"></script>
		
		<script src="../../../lib/fastclick.js"></script>
		<script src="../../../lib/tool/DateTool.js"></script>

		<link href="../../../css/On-site_monitoring/shui/sampling_record_table.css" rel="stylesheet" />
	</head>

	<body>
		<div class="all_content">
			<div class="header">
				<span id="header_title">水质样品交接记录表</span>
				<div id="back_v" class="back_v">
					<img src="../../../img/daqi/back.png" style="width: 10px;height: 15px;" />
				</div>
			</div>

			<div id="content" class="content">
				<ul class="item">
					<li class="line">
						<img src="../../../img/On-site_monitoring/shui/info.png" width="25px" />
						<span>表单信息</span>
					</li>
					<li class="line">
						<div class="line_content">
							<div class="line_content_item"> 
								<p>任务类型</p>
								<p class="balck">{{ExtensionData.TaskType}}</p>
							</div>
							<div class="line_content_item">
								<p>断面名称</p>
								<p class="balck">{{ExtensionData.RiverSectionName}}</p>
							</div>
							<div class="line_content_item">
								<p>河流名称</p>
								<p class="balck">{{ExtensionData.RiverName}}</p>
							</div>
						</div>
					</li>
					<li class="line">
						<div class="line_content">
							<div class="line_content_item">
								<p>监测任务名称</p>
								<p class="balck">{{ExtensionData.TaskTitle}}</p>
							</div>
						</div>
					</li>
					
					<li class="line">
						<div class="line_content">
							<div class="input_left_name">备注</div>
							<input id="Reporter" type="text" class="mui-input" placeholder="请输入" v-model="Detail.SampleDesc">
						</div>
					</li>
					
					<li class="line">
						<div class="line_content">
							<div>样品</div>
							<div class="sampling_point" v-for="(item,index) in ExtensionData.Detail">
								样品{{index+1}}
								<button id="edit_sampling_point" type="button" class="mui-btn mui-btn-primary" @click="editSamplingPoint(item,index)">编辑</button>
								<button id="delete_sampling_poin" style="background-color: red;color: white;" type="button" class="mui-btn" @click="deleteSamplingPoint(item,index)">删除</button>
							</div>
							<button id="add_sampling_poin" type="button" class="mui-btn mui-btn-primary" @click="addSamplingPoint()">增加</button>
						</div>
					</li>

					<li class="line">
						<div class="line_content">
							<button id="submit_sampling_poin" style="width: 80%;margin-left: 10%;" type="button" class="mui-btn mui-btn-primary" @click="submitSamplingPoint()">保存</button>
						</div>
					</li>
				</ul>
			</div>

			<div class="sampling_point_content" id="sampling_point_content">
				<ul class="item">
					<li class="line">
						<img src="../../../img/On-site_monitoring/shui/info.png" width="25px" />
						<span>样品{{Detail.index+1}}</span>
					</li>
					<li class="line">
						<div class="line_content">
							<div class="input_left_name">样品编码</div>
							<input id="Reporter" type="text" class="mui-input" placeholder="请输入" v-model="Detail.SampleCode">
						</div>
					</li>
					<li class="line">
						<div class="line_content">
							<div class="input_left_name">保存条件</div>
							<input id="Reporter" type="text" class="mui-input" placeholder="请输入" v-model="Detail.KeepCondition">
						</div>
					</li>
					<li class="line">
						<div class="line_content">
							<div class="input_left_name">样品瓶描述</div>
							<input id="Reporter" type="text" class="mui-input" placeholder="请输入" v-model="Detail.BottleDesc">
						</div>
					</li>
					
					<li class="line">
						<div class="line_content">
							<div class="input_left_name">取样量（ml）</div>
							<input id="Reporter" type="text" class="mui-input" placeholder="请输入" v-model="Detail.SampleNum">
						</div>
					</li>

					<li class="line">
						<div class="line_content">
							<div class="input_left_name">监测项目</div>
							<input id="Reporter" type="text" class="mui-input" placeholder="请输入" v-model="Detail.DetectionItems">
						</div>
					</li>
					<li class="line">
						<div class="line_content">
							<div class="input_left_name">交样人</div>
							<input id="Reporter" type="text" class="mui-input" placeholder="请输入" v-model="Detail.HandOver">
						</div>
					</li>
					<li class="line">
						<div class="line_content">
							<div class="input_left_name">取样人</div>
							<input id="Reporter" type="text" class="mui-input" placeholder="请输入" v-model="Detail.Receiver">
						</div>
					</li>
					
					<li class="line">
						<div class="line_content">
							<div class="input_left_name">交接时间</div>
							<input id="Reporter" type="text" class="mui-input" placeholder="请输入" v-model="Detail.ReceiveTime">
						</div>
					</li>
							
					
					
					<button id="close_sampling_point" type="button" style="width: 80%;margin-left: 10%;" class="mui-btn mui-btn-primary" @click="closeSamplingPoint(Detail,Detail.index)">关闭</button>
<!-- 					<button id="save_sampling_point" type="button" class="mui-btn mui-btn-primary" @click="saveSamplingPoint(Detail,Detail.index)">保存</button>
 -->				</ul>
			</div>
		</div> 

		<script src="../../../js/On-site_monitoring/shui/hand_over_sample_table.js"></script>
		<script type="text/javascript">
			mui.init();
			// window.addEventListener("load", function() {
			// 	FastClick.attach(document.body);
			// }, false);
			// 
			document.getElementById("back_v").addEventListener("tap", function() {
				mui.back();
			});
			// var sampling_point_content = document.getElementById("sampling_point_content");
			// document.getElementById("close_sampling_point").addEventListener("tap", function() {
			// 	sampling_point_content.style.display = "none";
			// });
			// document.getElementById("save_sampling_point").addEventListener("tap", function() {
			// 	sampling_point_content.style.display = "none";
			// });
			// document.getElementById("edit_sampling_point").addEventListener("tap", function() {
			// 	sampling_point_content.style.display = "block";
			// });
		</script>
	</body>

</html>
