body {
	font-size: 15px;
}

.header {
	position: fixed;
	height: 49px;
	line-height: 49px;
	font-size: 18px;
	width: 100%;
	text-align: center;
	color: white;
	background-color: #2a68cd;
	z-index: 1001;
}

.header>.back_v {
	display: inline-block;
	position: absolute;
	left: 0;
	width: 50px;
}

.content1 {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
}

.content {
	width: 100%;
	height: 100%;
	position: relative;
}

.item {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	line-height: 44px;
}

.item:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	height: 1px;
	z-index: 50;
	background: #d7d7d7;
	-webkit-transform: scaleY(0.5);
}

.item div {
	display: inline-block;
}

.item_l {
	width: 30%;
	float: left;
}

.item_r {
	width: 70%;
	color: lightgray;
	text-align: right;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#select_section,
#format,
#end_time,
#start_time {
	border: 0;
	width: 70%;
	height: 50px;
	color: lightgray;
	text-align: right;
	color: black;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.query_content {
	position: relative;
	text-align: right;
	margin-top: 16px;
	margin-right: 16px;
}

button {
	width: 40%;
	height: 35px;
}

.table_content {
	position: absolute;
	width: 100%;
	top: 210px;
	bottom: 0;
	text-align: center;
	overflow: scroll;
	font-size: 10px;
}

.table_content_title {
	font-size: 15px;
}

.table {
	overflow: auto;
}

.table th {
	text-align: center;
	white-space: nowrap;
	padding: 5px;
	background-color: lightgray;
	border-color: #000000;

}

.table td {
	text-align: center;
	white-space: nowrap;
	/* max-width: 200px;
			    word-wrap: break-word;
				word-break: break-all; */
	padding: 5px;
	border-color: #000000;

}
